@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100vw;
	width: 100vw;
	background-color: black;
}

body {
	background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
}

main {
	position: relative;
	height: 100vw;
}

section#telefone {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	height: 627px;
	width: 311px;
	background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
	position: relative;
	top: 80px;
	left: 22px;
	width: 269px;
	height: 471px;
}

section#redes-sociais {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

section#redes-sociais img {

	width: 50px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.400);
	box-sizing: border-box;

}

section#redes-sociais img:hover {
	border: 2px solid white;
	transform: translate(-3px, -3px);
	box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.493);
	transition: transform .4s, border .3s;
}